<div id="swagbar">
	<div id="swagbartop">
		Cool Dude
	</div>
	<div id="swagbarbot">
		Lumpy Chump
	</div>
</div>

<div id="centerconsole">
	<div id="songname"></div>
	<div id="consolebuttons"></div>
</div>


<div id="swagpic">
</div>