<div id="swagbar">
	<div id="swagbartop">
		AlphaDawg
	</div>
	<div id="swagbarbot">
		GeedLord
	</div>
</div>

<div id="centerconsole">
	<div id="songname">Feds Watchin</div>
	<div id="songauthor">Two Chainz</div>
	<div id="vidcontainer"></div>
	<div id="consolebuttons"></div>
</div>


<div id="swagpic">
</div>